* {
  box-sizing: border-box;
  margin: 0;
  background-color: #F8F7F5;
  font-family: 'Plus Jakarta Sans';
}

h5, h6 {
  font-weight: normal;
}
h3, p {
  background-color: #ffffff;
}

/* animacion modal carrito */

.modal-confirmacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 16px 24px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/src/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

/* principal */
.navbar, .menu-hamburguesa, .product-list .product-card, .login-main, .register-main, .login-content, .register-content, .span-registro, .content-boton-back, 
.inputs-login, .div-button-google {
  display: flex;
  flex-direction: column;
}
.navbar {
  align-items: center;
  flex-direction: initial;
  padding: 0 20px 0 20px;
  height: 60px;
}
.menu-hamburguesa {
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 22px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
}
.product-list {
  flex-direction: initial;
  flex-wrap: wrap;
  margin: 0 20px 0 20px;
  gap: 20px 30px;
}
.product-card {
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 20px;
  width: 166px;
  height: auto;
  border-radius: 10px;
  background-color: #F9B45A;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.product-card h3 {
  margin: 0 0 10px;
}

.product-card p {
  color: #555;
  margin-bottom: 10px;
}

.product-card strong {
  color: #000;
}
.btn-agregar {
  margin-top: 8px;
  font-size: 10px;
  font-weight: bold;
  padding: 8px 12px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 80%;
}

.btn-agregar:hover {
  background: #1dd83c;
}
.carrito-lista {
  width: 100%;
  height: max-content;
  padding: 6% 4% 0 4%;
}
.carrito-list {
  padding: initial;
}
.title-apartados {
  background-color: #F8F7F5;
  margin-bottom: 3%;
}
.title-apartados-pedido {
  background-color: #F8F7F5;
}
.carrito-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #ffffff;
}
.products-cards, .products-cantidad {
  background-color: #ffffff;
}
.products-cards {
  margin: 10%;
}
.products-cantidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 100%;
  width: 50%;
  font-weight: 500;
}
.boton-mas-menos {
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 50%;
}
.boton-mas {
  color:#F48C25;
}
.div-subtotal {
  border-radius: 12px;
  background-color: white;
  padding: 3% 0;
}
.subtotal, .tarifa, .total{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 4% 4%;
  color: #9C7349;
  background-color: #ffffff;
  border-radius: 100px;
}
.subtotal-tarifa {
  color: #000000;
}
.rayita {
  width: 100%;
  height: 1px;
  background-color: #F3F4F6;
}
.total {
  color: #F48C25;
  font-size: 18px;
  margin-top: 5%;
}
.total-name {
  color: initial;
  font-weight: bold;
  font-size: 18px;
}
.total-name, .total-price {
  background-color: #ffffff;
}

/* login */

.login-main, .register-main {
  width: 100%;
}
.div-nav {
  display: flex;
  width: 100%;
}
.spanl, .spanr {
  padding-left: 35%;
}
.login-content, .register-content {
  width: 90%;
  height: 100vh;
  margin: 0 7% 0 7%;
  align-items: center;
}
.h1-registro {
  padding-bottom: 5%;
}
.anticon-left path {
  color: #000;
}
.anticon-arrow-right {
  margin-left: 2%;
}
.anticon-arrow-right svg {
  background-color: #F48C25;
}
.inputs-login {
  width: 100%;
  margin-top: 5%;
}
.div-forget, .forget {
  display: flex;
  width: 100%;
}
.forget {
  justify-content: end;
}
.inputs-button {
  width: 100%;
  margin-top: 10%;
}
.input-correo, .input-password, .input-enter {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  border: white;
  border-radius: 10px;
}
.input-correo::placeholder, .input-password::placeholder {
  color: #865701;
  opacity: calc(70%);
}
.div-input-enter {
  background-color: #ffffff;
  padding: 4%;
}
.total-precio {
  background-color: #ffffff;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
}
.total-precio-h6, .total-precio-span {
  background-color: #ffffff;
  color: #6B7280;
}
.total-precio-span {
  color: initial;
}
.input-enter {
  background-color: #F48C25;
  color: #ffffff;
  font-weight: 700;
}
.span-icon {
  background-color: #F48C25;
}
.div-button-google {
  width: 100%;
  height: auto;
  align-items: center;
  margin-top: 30%;
}
.button-google {
  width: 50%;
  border: none;
  background-color: #ffffff;
  border-radius: 10px;
  height: 50px;
}

.div-nav-c {
  display: flex;
  width: 100%;
  padding: 5%;
  border: solid 1px #929292;
}
.spanc {
  display:flex;
  padding-left: 20%;
}